<h1>Withdrawals</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <% @withdrawals.each do |withdrawal| %>
        <div class="row list-group-item withdrawal">
          <div class="col-lg-1 <%=withdrawal.status ? 'btn-success' : 'btn-danger'%>">
            <%= withdrawal.status.nil? ? "false" : withdrawal.status.to_s %>
          </div>
          <div class="col-lg-3">
            <%= withdrawal.created_at.strftime("%d/%m/%y %H:%M:%S") %>
          </div>
          <div class="col-lg-1">
            <%= withdrawal.amount %>$
          </div>
          <div class="col-lg-3">
            User: <%= link_to withdrawal.user.full_name ,admin_user_path(withdrawal.user.id) %>
          </div>
          <% if withdrawal.method %>
          <div class="col-lg-2">
            <%= withdrawal.method %>
          </div>
          <% end %>
          <div class="col-lg-1">
      		    <%= form_for(withdrawal) do |f| %>
				          <%= f.hidden_field :status, :value => true %>
		              <%= f.submit('Allow', :class => "btn btn-success") %>
              <% end %>
            </div>
          	<div class="col-lg-1">
          		<%= form_for(withdrawal) do |f| %>
				  <%= f.hidden_field :status, :value => false %>
				  <%= f.submit('Deny', :class => "btn btn-danger") %>
				<% end %>
          	</div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @withdrawals %>
  </div>
</div>
