<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">КП</h1>
    </div>
    <% if flash[:recaptcha_error] %>
      <div class="alert alert-warning" role="alert">  <%= flash[:recaptcha_error] %> </div>
    <% end %>
    <h3>Вход в личный кабинет (ЛК)</h3>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль" %>
          </div>
          <% if devise_mapping.rememberable? %>
              <div class="checkbox">
                <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %> <%= t('.remember_me', :default => "Запомнить меня") %>
                <% end %>
              </div>
          <% end %>
          <%= recaptcha_tags %>
          <%= f.submit  t('.sign_in', :default => "Вход"), class: "btn btn-primary block full-width m-b" %>
      <% end %>
      Войти через:
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <img src="http://icons.iconarchive.com/icons/martz90/circle/256/fb-icon.png" width=25 height="25">
      <% end %>
      <%= link_to user_vkontakte_omniauth_authorize_path do %>
        <img src="https://cdn4.iconfinder.com/data/icons/social-circle/512/vk-128.png" width=25 height="25">
      <% end %>
      <br>
      <a href="<%= url_for :controller => 'users/passwords', :action => 'new' %>"><small>Забыли пароль?</small></a>
      <p class="text-muted text-center"><small>У вас нет аккаунта?</small></p>
      <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'users/registrations', :action => 'new' %>">Зарегистрироваться</a>
      <p><%= link_to "Не получили инструкции по подтверждению почты?", new_confirmation_path(resource_name) %></p>
    <p class="m-t"> <small>Все права защищены &copy; 2016</small> </p>
  </div>
</div>
