<div class="top-block flexbox">
  <%= link_to image_tag("kp-logo.png"), root_path %>
  <span class="bigger">АВТОРИЗАЦИЯ</span>
  <% if flash[:recaptcha_error] %>
    <span class="smaller" style="color:red">  <%= flash[:recaptcha_error] %> </span>
  <% end %>
  <span class="smaller" style="color:red"><%= alert %></span>
  <span class="smaller" style="color:red"><%= notice %></span>
  <span class="smaller">Заполните необходимые данные:</span>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-container flexbox">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      <i aria-hidden="true" class="fa fa-envelope"></i>
    </div>
    <div class="input-container flexbox">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль" %>
      <i aria-hidden="true" class="fa fa-key"></i>
    </div>
    <div class="input-container">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me do %>
        <div id="checkbox-container">
          <div id="custom-checkbox"></div>
        </div>
        <span><%= t('.remember_me', :default => "Запомнить меня") %></span>
      <% end %>
    </div>
    <%= recaptcha_tags %>
    <%= f.submit  t('.sign_in', :default => "Вход") %>
  <% end %>
  <div class="soc-icons">
    <%= link_to user_vkontakte_omniauth_authorize_path do %>
      <i class="fa fa-vk" aria-hidden="true"></i>
    <% end %>
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<div class="sup-btns flexbox">
  <a href="<%= url_for :controller => 'users/passwords', :action => 'new' %>">Забыли пароль?</a>
  <a href="<%= url_for :controller => 'users/registrations', :action => 'new' %>">Регистрация</a>
  <!-- <p><%= link_to "Не получили инструкции по подтверждению почты?", new_confirmation_path(resource_name) %></p> -->
</div>
