<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Профиль</h5>
            <div class="ibox-tools">
                    <%= link_to edit_user_registration_path do %>
                        <i class="fa fa-wrench"></i>
                    <% end %>
            </div>
          </div>
            <div>
                <div class="ibox-content no-padding border-left-right text-center">
                  <br>
                  <img src="<%= image_url 'profile_small.jpg' %>" class="img-circle circle-border m-b-md" alt="profile">
                </div>
                <div class="ibox-content profile-content">
                    <h4><strong><%= current_user.name %>&nbsp;<%= current_user.last_name %></strong></h4>
                    <p><i class="fa fa-map-marker"></i><%= current_user.country %><%= current_user.city %></p>
                    <h5>Обо мне</h5>
                    <p><%= current_user.about %></p>
                  <ul class="list-group clear-list">
                    <li class="list-group-item">
                      <i class="fa fa-at"></i> <span class="nav-label"><%= current_user.email %></span>
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-phone"></i> <span class="nav-label"><%= current_user.phone %></span>
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-skype"></i> <span class="nav-label"><%= current_user.skype %></span>
                    </li>
                  </ul>
                  <div class="user-button">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Написать сообщение</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("span.pie").peity("pie", {
        fill: ['#1ab394', '#d7d7d7', '#ffffff']
    })

    $(".line").peity("line", {
        fill: '#1ab394',
        stroke: '#169c81',
    })

    $(".bar").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"]
    })


});

</script>

<% end %>

