<% content_for :modals do %>
<div id="input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <% @services.each do |service| %>
          <%= get_trasfer_money_form(service) %>
        <% end %>
        <div class="row">
          <%=link_to 'Инструкция', instructions_path('payments'), 'target' => '_blank', class: 'btn btn-success instruction-payment'%>  
        </div>
        <div id="money_input" class="flexbox">
          <h2>Пополнение баланса:</h2>
          <div class="inputs flexbox">
            <div class="input flexbox">
              <input id="PerfectMoney" data-service_type="perfectmoney" type="radio" name="system_input" value="PerfectMoney" checked>
              <label for="PerfectMoney" class="flexbox label-img"><%= image_tag "perfectmoney.png" %><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <div class="input flexbox">
              <input id="NixMoney" data-service_type="nixmoney" type="radio" name="system_input" value="NixMoney">
              <label for="NixMoney" class="flexbox label-img"><%= image_tag "nixm.png" %><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>

            <div class="input flexbox">
              <input id="AdvCash" data-service_type="advcash" type="radio" name="system_input" value="AdvCash">
              <label for="AdvCash" class="flexbox label-img">
                <%= image_tag "advcash.png" %>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              </label>
            </div>
            <%if false %>
              <div class="input flexbox">
                <input id="Liqpay" data-service_type="liqpay" type="radio" name="system_input" value="Liqpay">
                <label for="Liqpay" class="flexbox label-img">
                  <%= image_tag "liqpay.png" %>
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </label>
              </div>
            <% end %>
          </div>
          <div class="confirm flexbox">
            <input type="text" name="amount" placeholder="Сумма, USD">
            <input type="submit" value="Пополнить">
          </div>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="output" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="money_output" action="/finance_api/output" method="post" class="flexbox">
          <h2>Вывод средств:</h2>
          <div class="inputs flexbox">
            <div class="input flexbox">
              <input id="PerfectMoney_o" data-service_type="perfectmoney" type="radio" name="system_output" value="perfectmoney" checked>
              <label for="PerfectMoney_o" class="flexbox label-img"><%= image_tag "perfectmoney.png" %><span class="red-span">Комиссия 2%</span><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <div class="input flexbox">
              <input id="NixMoney_o" data-service_type="nixmoney" type="radio" name="system_output" value="nixmoney">
              <label for="NixMoney_o" class="flexbox label-img"><%= image_tag "nixm.png" %><span class="red-span">Комиссия 0.5%</span><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <div class="input flexbox">
              <input id="AdvCash_o" data-service_type="advcash" type="radio" name="system_output" value="advcash">
              <label for="AdvCash_o" class="flexbox label-img"><%= image_tag "advcash.png" %><span class="red-span">Комиссия 0%</span><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <!--.input.flexbox
            input#Liqpay_o(type='radio' name='system_output' value='LiqPay')
            label.flexbox(for='Liqpay_o' class='label-img')
              img(src='img/liqpay.png')
              span.red-span .
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            -->
          </div>
          <div class="confirm flexbox">
            <input type="text" name="user_account" placeholder="Номер счета">
            <input type="text" name="amount" placeholder="Сумма, USD">
            <input type="submit" value="Вывести">
          </div>
        </form>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<% end %>
<div id="content" class="flexbox <%=get_view_mode('content')%>">
  <div id="user-info" class="flexbox">
    <div id="user-pic" class="flexbox"><%= get_avatar(current_user)%>
      <div id="about-user" class="flexbox">
        <span class="name"><%= "#{current_user.name} #{current_user.last_name}"%></span>
        <span class="status"><%= current_user.role.description %></span></div>
    </div>
    <div id="bal-block" class="flexbox">
      <div id="main-bl" class="flexbox info-block1"><span class="balance">Доступный баланс</span>
        <div class="circle flexbox">
          <div class="btwn flexbox">
            <i class="fa fa-usd flexbox" aria-hidden="true"></i>
            <span class="undercover"><%= current_user.wallet.main_balance %></span><!-- TODO: user real balance -->
          </div>
        </div>
        <div class="bl-btn">
          <button data-toggle="modal" data-target="#input">Пополнить</button>
          <button data-toggle="modal" data-target="#output">Вывести</button>
        </div>
      </div>
      <div id="bonus-bl" class="flexbox info-block1"><span class="balance">Бонусный баланс</span>
        <div class="circle flexbox">
          <div class="btwn flexbox">
            <i class="fa fa-gift flexbox" aria-hidden="true"></i>
            <span class="undercover"><%= current_user.wallet.bonus_balance %></span><!-- TODO: user bonus balance -->
          </div>
        </div>
        <div class="bl-btn">
          <button class="disabled">Заработать</button>
          <button class="disabled">Перевести	</button>
        </div>
      </div>
    </div>
  </div>
  <div id="user-stat" class="flexbox">
    <div id="video" class="flexbox">
      <iframe style="min-height:262px; width:100%;" src="https://www.youtube.com/embed/avabU42rSEU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="pers-svod" class="flexbox">
      <h2>Персональная сводка:</h2>
      <div class="blockset flexbox">
        <div class="info-block2 flexbox">
          <span class="undercover">Проектов в работе</span>
          <span class="alwvis">0</span>
        </div>
        <div class="info-block2 flexbox">
          <span class="undercover">Бизнес направлений открыто</span>
          <span class="alwvis">0</span>
        </div>
      </div>
      <div class="blockset flexbox">
        <div class="info-block2 flexbox">
          <span class="undercover">Заработок в сутки</span>
          <span class="alwvis">0</span>
        </div>
        <div class="info-block2 flexbox">
          <span class="undercover">Новых партнеров за сегодня</span>
          <span class="alwvis"><%= @descendants_today%></span>
        </div>
      </div>
    </div>
  </div>
  <div id="all-stat" class="flexbox">
    <h2>Статистика</h2>
    <div id="mini-stat-circ" class="flexbox">
      <!-- <div class="info-block3 flexbox">
        <span class="alwvis">0</span><span class="undercover">Инвестиционных проектов</span>
      </div> -->
      <div class="info-block3 flexbox">
        <span class="alwvis">1</span>
        <span class="undercover">Бизнес направлений</span>
      </div>
      <div class="info-block3 flexbox">
        <span class="alwvis"><%= @users_today %></span>
        <span class="undercover">Учасников за сегодня</span>
      </div>
      <div class="info-block3 flexbox">
        <span class="alwvis"><%= @users %></span>
        <span class="undercover">Учасников всего</span>
      </div>
      <div class="info-block3 flexbox">
        <span class="alwvis">0</span>
        <span class="undercover">Заявок на выплаты</span>
      </div>
      <div class="info-block3 flexbox">
        <span class="alwvis"><%=@withdrawn.round(2)%></span>
        <span class="undercover">Выплачено средств</span>
      </div>
    </div>
  </div>
</div>
