<h1>Payments</h1>
<div class="row container">
  <%=form_tag '/admin/payments/transfer', class: "form-horizontal",  method: :put do%>
  <h3>Make transfer</h3>

  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">From:</label>
      <div class="col-sm-10">
        <%=text_field_tag 'from_user_id', nil, class: 'form-control', placeholder:"Enter email"%>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">From:</label>
      <div class="col-sm-10">
        <%=text_field_tag 'to_user_id',  nil, class: 'form-control', placeholder:"Enter email"%>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <div class="col-sm-10">
        <%=text_field_tag 'amount', nil, class: 'form-control', placeholder:"Enter amount"%>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Bonus</label>
      <div class="col-sm-10">
        <%=check_box_tag 'mode', 'bonus', class: 'form-control'%>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <%=submit_tag 'Submit', class: 'btn btn-default'%>
      </div>
    </div>
  </div>
  <%end%>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <% @payments.each do |payment| %>
        <div class="row list-group-item">
          <div class="col-lg-2">
            <%= payment.created_at.strftime("%d/%m/%y %H:%M:%S") %>
          </div>
          <div class="col-lg-2">
            <%= payment.amount %>$
          </div>
          <div class="col-lg-2">
            from: <%= payment.from %>
          </div>
          <div class="col-lg-2">
            to: <%= payment.to %>
          </div>
          <% if payment.from_user_id %>
          <div class="col-lg-2">
            <%= link_to User.find(payment.from_user_id).name ,admin_user_path(payment.from_user_id) %>
          </div>
          <% end %>
          <% if payment.to_user_id %>
          <div class="col-lg-2">
            <%= link_to User.find(payment.to_user_id).name ,admin_user_path(payment.to_user_id) %>
          </div>
          <% end %>
          <% if payment.method %>
          <div class="col-lg-2">
            <%= payment.method %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= will_paginate @payments %>
  </div>
</div>
