<% content_for :modals do%>
  <div id="activate-business" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Активация {business_name} бизнеса</h2>
          <%= form_tag '/business/', method: :post, class: "row", id: "activate-business-form" do %>
            <div class="col-sm-6">
              <input type="text" name="ref_link" class="form-control" placeholder="Реферальная ссылка">
            </div>
            <div class="col-md-3">
              <label for="block_reg">Блокировать регистрацию?</label>
              <input type="checkbox" id="block_reg" name="block_reg">
            </div>
            <div class="col-md-2">
              <button class="btn btn-success">Активировать</button>
            </div>
          <% end %>
          <br>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div id="content" class="flexbox <%=get_view_mode('content')%>">
  <div class="tab-links flexbox">
    <a href="<%=business_path('all')%>" class="<%=active_class(params[:id])%>">Популярные компании</a>
    <a href="<%=business_path('recent')%>" class="<%=active_class(params[:id])%>">Новые компании</a>
    <a href="<%=business_path('problem')%>" class="<%=active_class(params[:id])%>">Проблемные компании</a>
  </div>
  <div class="tab-content">
    <div id="landings" class="flexbox">
      <div class="offers flexbox">
        <% @businesses.each do |business| %>
          <div class="goods flexbox business-item" data-id="<%=business.id%>">
            <div class="col-md-7 business-left">
              <div class="business_name" style="display:none;">
                <%=business.name%>  
              </div>
              <div class="business-image">
                <%=image_tag 'html_logo'%>
              </div>
              <div class="business-rating">
                  <div class="i-star" id="i1-star"></div>
                  <div class="i-star" id="i2-star"></div>
                  <div class="i-star" id="i3-star"></div>
                  <div class="i-star" id="i4-star"></div>
                  <div class="i-star" id="i5-star"></div>
              </div>
              <div class="business-short-info">
                <div class="business-short-info-text">
                  Срок работы: 10 лет 
                </div>
                <div class="business-short-info-text">
                  Количество дней в клубе: 10
                </div>
                <div class="business-short-info-text">
                  Участников от клуба: 3567
                </div>
              </div>
            </div>
            <div class="col-md-5 business-right">
              <div class="business-long-info">
                <%=business.description%>
              </div>
              <div class="business-btn business-more-btn">
                More
              </div>
              <%= activation_btn(business)%>
            </div>
          </div>
        <%end%>
      </div>
    </div>

    <%= will_paginate @businesses %>
  </div>
</div>

