<% content_for :modals do%>
  <div id="activate-business" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Активация {business_name} бизнеса</h2>
          <%= form_tag '/business/', method: :post, class: "row", id: "activate-business-form" do %>
            <div class="col-sm-6">
              <input type="text" name="link" class="form-control" placeholder="Реферальная ссылка">
            </div>
            <div class="col-md-3">
              <label for="block_reg">Блокировать регистрацию?</label>
              <input type="checkbox" id="block_reg" name="block_reg">
            </div>
            <div class="col-md-2">
              <button class="btn btn-success">Активировать</button>
            </div>
          <% end %>
          <br>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tools-choose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="toolchoise flexbox">
            <%= link_to business_scope_path 'all' do %>
              <i class="allvis fa fa-cart-plus"></i>
              <span class="hidd">Выбрать инструменты</span>
            <% end %>
            <%= link_to business_scope_path 'my' do %>
              <i class="allvis fa fa-cubes"></i>
              <span class="hidd">Мои инструменты</span></a>
            <% end %>
          </div>
          <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="content" class="flexbox <%= get_view_mode('content') %>">
  <div class="tab-links flexbox">
    <% @scopes.zip(%w'Мои Популярные Новые Проблемные').to_h.each do |scope, name| %>
      <a href="<%= business_scope_path(scope) %>" class="<%= active_class(scope) %>"><%= name %> компании</a>
    <% end %>
  </div>

  <div class="companies flexbox">
    <% @businesses.each do |business| %>
      <div class="company flexbox" data-id="<%= business.id %>">
        <div class="pic_and_rate flexbox">
          <div class="img-wrapper flexbox">
            <%= image_tag business.logo %>
          </div>
          <div class="stars">
            <%= get_stars 4 %> <%# TODO: business.rating %>
          </div>
          <div class="shrt-review flexbox">
            <span>Срок работы: <b><%= opened_ago business %></b></span>
            <span>Количество дней в клубе: <b><%= created_ago business %></b></span>
            <span>Участников от клуба: <b><%= business.users.size %></b></span>
          </div>
        </div>
        <div class="about_and_btns flexbox">
          <div class="comp-about">
            <%= business.description %>
          </div>
          <div class="comp-btns flexbox">
            <% unless business.users.include?(current_user) %>
              <button class="business-btn business-add-btn activate-business-btn">
                Активировать
              </button>
            <% else %>
              <%= link_to 'Настройки', user_business_path(business.id),
              class: "business-btn business-add-btn", id: "business-settings-btn" %>
            <% end %>
            <%= link_to business_path(business) do %>
              <div class="business-btn business-more-btn">
                Подробнее
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @businesses %>
  </div>
</div>
