<div id="content" class="flexbox <%=get_view_mode('content')%>">
  <div class="tab-content">
    <div id="landings" class="flexbox">
      <div class="offers flexbox">
        <% @businesses.each do |business| %>
          <div class="business" data-id="<%=business.id%>">
            <div class="business_name">
              <%=business.name%>  
            </div>
            <a href="<%=business_settings_path(business.id)%>" id="business-settings-btn" class="btn btn-success">Settings</a>  
          </div>
        <%end%>
      </div>
    </div>
    <%= will_paginate @businesses %>
  </div>
</div>