<div id="content" class="flexbox <%= get_view_mode('content') %>">
  <div class="info-bs flexbox">
    <div class="left-side flexbox">
      <div class="logo-wrapper"><%= image_tag "kp-logo.png" %></div>
      <div class="stars flexbox">
        <%= get_stars 4 %>
      </div>
      <div class="shrt-review flexbox">
        <span>Срок работы: <b><%= opened_ago @business %></b></span>
        <span>Количество дней в клубе: <b><%= created_ago @business %></b></span>
        <span>Участников от клуба: <b><%= @business.users.size %></b></span>
      </div>
      <div class="comp-btns flexbox">
        <button class="grbtn disabled">Пошаговая инструкция</button>
        <button class="orbtn disabled">Позвонить спонсору</button>
      </div>
    </div>
    <div class="right-side flexbox">
      <div class="">
        <iframe width="560" height="300" src="https://www.youtube.com/embed/_Of2hBD1oS4?controls=0&&showinfo=0&fmodestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <button class="disabled">Связаться с помощником</button>
    </div>
  </div>
  <p class="business-description">
    <%= @business.description %>
  </p>
<!--   <div class="comments-block flexbox">
    <div class="comment-wrapper flexbox">
      <div class="img-wrapper flexbox"><%= get_avatar current_user%></div>
      <%# TODO: make generated form %>
      <form name="comment" action="" method="post" class="flexbox">
        <textarea type="text" name="comm" placeholder="Написать комментарий"></textarea>
        <input id="onestar" type="radio" name="mark" value="1">
        <input id="twostar" type="radio" name="mark" value="2">
        <input id="threestar" type="radio" name="mark" value="3">
        <input id="fourstar" type="radio" name="mark" value="4">
        <input id="fivestar" type="radio" name="mark" value="5">
        <label for="onestar"><i class="fa fa-star"></i></label>
        <label for="twostar"><i class="fa fa-star"></i></label>
        <label for="threestar"><i class="fa fa-star"></i></label>
        <label for="fourstar"><i class="fa fa-star"></i></label>
        <label for="fivestar"><i class="fa fa-star"></i></label>
        <button type="submit"><i class="fa fa-check-circle"></i></button>
      </form>
    </div>
    <% 0.times do |i| %> <%# TODO: change to something like @business.comments do |comment| %>
    <div class="comment flexbox">
      <div class="img-wrapper flexbox">
        <%= get_avatar current_user %> <%# TODO: change avatar to something like get_avatar comment.author %>
      </div>
      <span>
        <%#= comment.text %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </span>
      <div class="stars flexbox">
        <%= get_stars 3 %> <%# TODO: change to get_stars comment.rating %>
      </div>
    </div>
    <% end %>
  </div> -->
</div>
