<% content_for :modals do %>
  <% if current_user.parent %>
    <div id="helper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="cons flexbox">
              <div class="upper flexbox">
                <div class="help-logo flexbox"><%= get_avatar current_user.parent%></div>
                <div class="help-info flexbox"><span>Ваш консультант:</span><span><%= current_user.parent.full_name %></span><span><%= current_user.parent.phone%></span></div>
              </div>
              <div class="lower flexbox">
                <a href="skype:<%= current_user.parent.skype %>"><%= image_tag "skype-icon.png" %></a>
                <a href="<%= current_user.parent.vk %>"><%= image_tag "vk-icon.png" %></a>
                <a href="viber://chat:<%= current_user.parent.phone %>"><%= image_tag "viber-icon.ico" %></a>
                <a href="<%= current_user.parent.ok %>"><%= image_tag "ok-icon.png" %></a>
                <a href="<%= current_user.parent.fb %>"><%= image_tag "facebook-icon.png" %></a>
                <a href="<%= current_user.parent.youtube %>"><%= image_tag "youtube-icon.png" %></a>
              </div>
            </div>
            <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div id="content" class="flexbox <%= get_view_mode('content') %>">
  <div class="info-bs flexbox">
    <div class="left-side flexbox">
      <div class="logo-wrapper"><%= image_tag @business.logo %></div>
      <div class="stars flexbox">
        <%= get_stars @business.rating %>
      </div>
      <div class="shrt-review flexbox">
        <span>Срок работы: <b><%= opened_ago @business %></b></span>
        <span>Количество дней в клубе: <b><%= created_ago @business %></b></span>
        <span>Участников от клуба: <b><%= @business.users.size %></b></span>
      </div>
      <div class="comp-btns flexbox">
        <button class="grbtn disabled">Пошаговая инструкция</button>
        <button class="orbtn disabled" data-toggle="modal" data-target="#helper">Позвонить спонсору</button>
      </div>
    </div>
    <div class="right-side flexbox">
      <div class="">
        <iframe width="560" height="300" src="https://www.youtube.com/embed/_Of2hBD1oS4?controls=0&&showinfo=0&fmodestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <a class="<%= 'disabled' unless @unblocked %>" href="<%=@link%>"><button>Зарегистрироваться в <%= @business.name %></button></a>
    </div>
  </div>
  <p class="business-description">
    <%= @business.description %>
  </p>
<div class="comments-block flexbox">
    <div class="comment-wrapper flexbox">
      <div class="img-wrapper flexbox"><%= get_avatar current_user%></div>
      <%# TODO: make generated fully form %>
      <%= form_tag new_comment_path(@business.id), method: 'post', class:"flexbox" do %>
        <%= text_area_tag "content", "", placeholder:"Написать комментарий" %>
        <input id="onestar" type="radio" name="mark" value="1">
        <input id="twostar" type="radio" name="mark" value="2">
        <input id="threestar" type="radio" name="mark" value="3">
        <input id="fourstar" type="radio" name="mark" value="4">
        <input id="fivestar" type="radio" name="mark" value="5">
        <label for="onestar"><i class="fa fa-star"></i></label>
        <label for="twostar"><i class="fa fa-star"></i></label>
        <label for="threestar"><i class="fa fa-star"></i></label>
        <label for="fourstar"><i class="fa fa-star"></i></label>
        <label for="fivestar"><i class="fa fa-star"></i></label>
        <button type="submit"><i class="fa fa-check-circle"></i></button>
      <% end %>
    </div>
    <% @comments.each do |comment| %>
    <div class="comment flexbox">
      <div class="img-wrapper flexbox">
        <%= get_avatar comment.user %>
      </div>
      <span>
        <%= comment.content %>
      </span>
      <div class="stars flexbox">
        <%= get_stars comment.rate %>
      </div>
    </div>
    <% end %>
  </div>
</div>
