<%content_for :modals do%>
<div id="copy-landing-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <h2>Ссылка:</h2>
        <div class="col-md-12">
          <div class="form-group" id="link">
            <input type="text" id="landing-url" value="">
            <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
            <button id="copy" data-clipboard-target="#landing-url">Копировать</button>
          </div>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="edit-landing-settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Настройки:</h2>
        <div class="col-md-12">
          <%= form_tag('', method: :patch) do %>
            <div class="form-group">
              <label for="landing-url">https://www.youtube.com/watch?v=</label>
              <input type="text" name="landing[video_link]" id="landing-video-url">
              <button type="submit" class="btn btn-green">Сохранить</button>
            </div>
          <% end %>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="content" class="flexbox <%= get_view_mode('content') %>">
  <div class="tab-links flexbox">
    <a href="<%= landings_scope_path 'my' %>" class="active">Мои инструменты</a>
    <a href="<%= landings_path %>" class="active">Landing page</a>
    <a href="#" class="disabled">Блоги</a>
    <a href="#" class="disabled">Интернет магазины</a>
  </div>
  <div class="tab-content">
    <div id="landings" class="flexbox">
      <div class="offers flexbox">
        <% @landings.each do |landing| %>
          <% has_free = !@club_links.select { |x| x.landing_id == landing.id }.empty? %>
          <% free = current_user.has_landing?(landing) || @for_free %>
          <div class="goods flexbox"><%= image_tag 'landings/' + landing.logo.to_s%>
            <div class="stuff-name"> <span>Landing page для <%= landing.name %></span></div>
            <div class="img-price"><%= image_tag landing.preview_image, alt:"landing-preview", class: "preview"%>
              <% unless free %>
                <span class="price flexbox"><%= landing.price.to_s %>$</span>
              <% end %>
            </div>
            <div class="landing-controls">
              <% if current_user.has_landing? landing %>
                <button class="green-btn green-copy-btn" data-url='<%= landing_outer_path(landing.short_path) %>'><i class="fa fa-link"></i></button>
                <%= link_to landing_outer_path(landing.short_path), target: '_blank' do %>
                  <div class="buy-stuff green-btn">
                    <i class="fa fa-eye"> </i>
                  </div>
                <% end %>
                <button class="green-btn edit-landing-settings" data-video="<%=current_user.landing_settings(landing).video_link%>" data-action="<%=update_landing_settings_path(landing)%>">
                  <i class="fa fa-cogs"></i>
                </button>
                <% if false %>
                  <% if has_free %>
                    <span>Клубный landing page</span>
                  <% else %>
                    <span class="activation">Дата активации: <% land_activated_at landing.id %></span>
                    <span class="activation">Конец лицензии: <% land_reactivate_at landing.id %></span>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_tag(activate_landing_path(landing), onSubmit: 'return activate_landing(this)', method: :post) do %>
                  <%= button_tag "Активировать", class:'buy-stuff'%>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
