<div id="content" class="flexbox full">
  <div class="tab-links flexbox">
    <a href="#" class="active">Landing page</a>
    <a href="#" class="disabled">Блоги</a>
    <a href="#" class="disabled">Интернет магазины</a>
  </div>
  <div class="tab-content">
    <div id="landings" class="flexbox">
      <div class="offers flexbox">
        <% @landings.each do |landing| %>
        <div class="goods flexbox"><%= image_tag "landings/redex-logo.png" %>
          <div class="stuff-name"> <span>Landing page for <%= landing.name %></span></div>
          <div class="img-price"><%= image_tag "landings/redex-preview.png", alt:"landing-preview", class: "preview" %>
          <span class="price flexbox"><%= (@for_free)? "0": landing.price %>$</span></div>
          <!-- <button class="buy-stuff">Открыть</button> -->

          <% if current_user.has_landing? landing %>
            <a href="<%= "http://landings.improf.club/#{landing.path}/#{current_user.id}"%>" class="buy-stuff">Открыть</a>
            <span class="activation">Дата активации: <%= current_user.user_landings.find_by_landing_id(landing.id).activated_at.strftime("%d/%m/%y")%></span>
            <span class="activation">Дата активации: <%= current_user.user_landings.find_by_landing_id(landing.id).reactivate_at.strftime("%d/%m/%y")%></span>
          <% else %>
            <%= link_to "Активировать", activate_landing_path(landing), class:'buy-stuff', method: :post %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
