<% unless @user.nil? %>
  <div id="all_info">
    <div class="row">
      <div class="col-sm-4">
        <h3 id="detailed-user-name">
          <%= link_to user_path(user) do%>
		        <%= user.name %>&nbsp;<%= user.last_name %>
	        <% end %>
		    </h3>
    		<!-- I have to make icon smaller-->
    		<%= link_to user_path(user) do%>
    		  <%= get_avatar(user, {id: "detailed-user-avatar"}) %>
    		<% end %>
	   </div>

      <div class="col-sm-8">
        <h4 id="detailed-user-role"><%= user.role.description %></h4>
        <!-- Where I have to find this description? -->
<!--         <p>some infosome infosome infosome infosome infosome info</p>-->
        <p id='detailed-user-about'><%= user.about %></p>
        <!-- Add mailing function -->
        <!-- <button class="btn btn btn-primary">Написать</button> -->
      </div>
      <!-- <% if user.is_online? %> online <% else %> offline <% end %> -->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="contact_info">
          <h3>Контакты</h3><span><%= user.email %></span>
          <% unless user.phone.nil? %>
            <hr><span><%= user.phone %></span>
          <% end %>
          <!-- <hr><span>Name Surname</span> -->
          <% unless user.country.nil? %>
            <hr><span>Живет: <%= "#{user.country}," %> <%= user.city %></span>
          <% end %>
          <% unless user.skype.nil? %>
            <hr><span>Skype: <%= user.skype %></span>
          <% end %>
          <!-- <hr><span>Viber: <%= @user.phone %></span> -->
          <% unless user.youtube.nil? %>
            <hr><span>Youtube: <%= user.youtube %></span>
          <% end %>
          <% unless user.fb.nil? %>
            <hr><span>FB: <%= user.fb %></span>
          <% end %>
          <% unless user.ok.nil? %>
            <hr><span>OK: <%= user.ok %></span>
          <% end %>
          <% unless user.vk.nil? %>
            <hr><span>VK: <%= user.vk %></span>
          <% end %>
          <!-- <h3>Пришел с:</h3>
          <hr><span>example.ru</span> -->
          <h3>Партнеры</h3>
          <hr><span>Всего: <%= user.descendants.size %></span>
          <hr><span>Первая линия: <%= user.children.size %></span>
          <!-- <h3>Счета</h3>
          <hr><span>Главный: 100$</span>
          <hr><span>Бонусный: 500$</span>
          <button class="btn btn btn-primary"> Команда</button> -->
        </div>
      </div>
    </div>
  </div>
<% end %>
