<div id="d-m-i-header" class="flexbox">
  <div id="imgblock-2" class="flexbox"><%= get_avatar(user) %></div>
  <div id="some-info" class="flexbox">
    <span id="status-bar" class="flexbox"><%= user.role.description %></span>
    <span id="right-bar-name" class="flexbox"><%= user.name %>&nbsp;<%= user.last_name %></span>
    <span id="right-bar-about" class="flexbox"><%= user.about %>></span>
    <a href="#" class="disabled"><i class="fa fa-envelope-o flexbox" aria-hidden="true"></i></a></div>
</div>
<div id="d-m-i-contact-info">
  <hr class="hrtop">
  <div class="contact-element flexbox"><i class="fa fa-envelope" aria-hidden="true"></i><span><%= user.email %></span></div>
  <% unless user.phone.nil? %>
    <div class="contact-element flexbox"><i class="fa fa-phone" aria-hidden="true"></i><span><%= user.phone %></span></div>
  <% end %>
  <% unless user.skype.nil? %>
    <div class="contact-element flexbox"><i class="fa fa-skype" aria-hidden="true"></i><span><%= user.skype %></span></div>
  <% end %>
  <hr class="hrbott">
</div>
<div id="d-m-i-soc-net" class="flexbox">
  <% unless user.vk.nil? %>
    <% link_to user.vk do %>
      <%= image_tag "vk-icon" %>
    <% end %>
  <% end %>
  <% unless user.ok.nil? %>
    <% link_to user.ok do %>
      <%= image_tag "ok-icon" %>
    <% end %>
  <% end %>
  <% unless user.fb.nil? %>
    <% link_to user.fb do %>
      <%= image_tag "facebook-icon" %>
    <% end %>
  <% end %>
  <% unless user.youtube.nil? %>
    <% link_to user.youtube do %>
      <%= image_tag "youtube-icon" %>
    <% end %>
  <% end %>
</div>
<hr class="hrmidd">
<!-- <div id="d-m-i-ref-in" class="flexbox">
  <span class="ref-big">Перход с: </span>
  <span class="ref-small">example.com</span></div>
<hr class="hrmidd"> -->
<div id="d-m-i-ref-out" class="flexbox"><span class="ref-big">Партнеры:</span>
  <div class="underpath"><span class="ref-mid">Всего:</span><span class="ref-small"><%= user.descendants.count %></span></div>
  <div class="underpath"><span class="ref-mid">Первая линия:</span><span class="ref-small"><%= user.children.size %></span></div>
</div>
<hr class="hrbott">
