<% unless @user.nil? %>
  <div id="all_info">
    <div class="row">
      <div class="col-sm-4">
        <h3 id="detailed-user-name">
          <%= link_to user_path(user) do %>
		        <%= user.name %>&nbsp;<%= user.last_name %>
	        <% end %>
		    </h3>
        <div class="row">
          <div class="col-sm-3">
    		    <%= link_to user_path(user) do %>
    		      <%= get_avatar(user, {id: "detailed-user-avatar"}) %>
    		    <% end %>
          </div>
          <div class="col-sm-9">
            <h4 id="detailed-user-role"><span class="label label-primary"><%= user.role.description %></span></h4>
          </div>
        </div>
	   </div>

      <div class="col-sm-8">
        <!-- <h4 id="detailed-user-role"><span class="label label-primary"><%= user.role.description %></span></h4> -->
        <!-- <span class="label label-primary"><% if user.is_online? %> online <% else %> offline <% end %> -->
        <p id='detailed-user-about'><%= user.about %></p>
        <!-- Add mailing function -->
        <!-- <button class="btn btn btn-primary">Написать</button> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="contact_info">
          <h3>Контакты</h3><span><%= user.email %></span>
          <% unless user.phone.nil? %>
            <hr><span><%= user.phone %></span>
          <% end %>
          <% unless user.country.nil? %>
            <hr><span>Живет: <%= "#{user.country}," %> <%= user.city %></span>
          <% end %>
          <% unless user.skype.nil? %>
            <hr><span>Skype: <%= user.skype %></span>
          <% end %>
          <% unless user.youtube.nil? %>
            <hr><span>Youtube: <%= user.youtube %></span>
          <% end %>
          <% unless user.fb.nil? %>
            <hr><span>FB: <%= user.fb %></span>
          <% end %>
          <% unless user.ok.nil? %>
            <hr><span>OK: <%= user.ok %></span>
          <% end %>
          <% unless user.vk.nil? %>
            <hr><span>VK: <%= user.vk %></span>
          <% end %>
          <!-- <h3>Пришел с:</h3>
          <hr><span>example.ru</span> -->
          <h3>Партнеры</h3>
          <hr><span>Всего: <%= user.descendants.size %></span>
          <hr><span>Первая линия: <%= user.children.size %></span>
          <!-- <h3>Получено бонусов:</h3>
          <hr><span>Напрямую: 100$</span>
          <hr><span>Через команду: 500$</span>
          <button class="btn btn btn-primary"> Команда</button> -->
        </div>
      </div>
    </div>
  </div>
<% end %>
