<div class="partner flexbox">
	<div class="imgblock flexbox"><%= get_avatar user%></div>
	<span class="nasu" data-link='<%= user_url user%>'><%= "#{user.name} #{user.last_name}"%></span>
	<span class="id">id<%= user.id %></span>
	<span class="status"><%= user.role.description %></span>
	<span class="date"><%= user.created_at.strftime("%m/%d/%Y") %></span>
	<span class="partteam disabled"><a href="#"><i class="fa fa-users" aria-hidden="true"></i></a></span>
	<span class="moreinfo"><a href="<%= user_path user%>"><i class="fa fa-info-circle" aria-hidden="true"></i></a></span>
	<span class="message disabled"><a href="#" class='disabled'><i class="fa fa-envelope-o" aria-hidden="true"></i></a></span>
</div>
