<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div id="ibox">
        <div class="ibox-content">
        
          <h2>Команда</h2>
          <%= form_tag team_path, :method => 'get', :id => "team_search", :remote => true do %>
              <div class="input-group">
                <%= text_field_tag 'search', nil, placeholder: "Имя Фамилия", class: "input form-control" %>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> Поиск</button>
                  </span>
              </div> 
          <% end %>

          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"></span>
              <li class="active"><a data-toggle="tab" href="#partners"><i class="fa fa-user" aria-hidden="true"></i>Партнеры</a></li>

              <li class="unactive"><a data-toggle="tab" href="#mailing"><i class="fa fa-user" aria-hidden="true"></i>Рассылка</a></li>

              <li class="unactive"><a data-toggle="tab" href="#senpais"><i class="fa fa-user" aria-hidden="true"></i>Наставники</a></li>
            </ul>

            <div class="tab-content">
              <div id="partners" class="tab-pane active">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                      <%= render :partial => 'user_list', :locals => { :team => @team} %> 
                      </tbody>
                    </table>
                    <%= will_paginate @team unless @team.nil? %>
                  </div>
                </div>
              </div>

              <div id="mailing" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                      <%= render :partial => 'mailing_list', :locals => { :team => @team} %> 
                      </tbody>
                    </table>
                    <%= will_paginate @team unless @team.nil? %>
                  </div>
                </div>
              </div>

              <div id="senpais" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                      <%= render :partial => 'parent_list', :locals => { :user => @user} %> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="all_info">
        <div class="row">
          <div class="col-sm-4">
            <h3>Name Surname</h3><img src="#">
          </div>
          <div class="col-sm-8">
            <h4>Status</h4>
            <p>some infosome infosome infosome infosome infosome info</p>
            <button class="mybtn">Написать</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div id="contact_info">
              <h3>Контакты</h3><span>Username@e.mail</span>
              <hr><span>+380931111111</span>
              <hr><span>login</span>
              <hr><span>Name Surname</span>
              <hr><span>Skype</span>
              <hr><span>Viber</span>
              <hr><span>Youtube</span>
              <hr><span>FB</span>
              <hr><span>OK</span>
              <hr><span>VK</span>
              <h3>Пришел с:</h3>
              <hr><span>example.ru</span>
              <h3>Партнеры</h3>
              <hr><span>Всего: 1</span>
              <hr><span>Первая линия: 1</span>
              <h3>Бонусы</h3>
              <hr><span>Bonuses: 200$</span>
              <button class="mybtn">Команда</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>