<% content_for :modals do%>
  <div id="add-bonus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Пополнить бонусный баланс</h2>
          <%= form_tag admin_give_bonus_path, method: :post, remote: true, class: "row", id: "give-bonus-form" do %>
            <div class="col-sm-10">
              <input type="number" name="amount" class="form-control">
            </div>
            <div class="col-sm-2">
              <button class="btn">Give <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
            </div>
          <% end %>
          <br>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1><%= "#{@user.name} #{@user.last_name}" %></h1>
<div class="row">
  <div class="col-md-3">
    <%= get_avatar @user, style: "max-width:100%"%>
  </div>
  <div class="col-md-3">
    <p>
      Invited by
      <div class="dropdown" id="inv-container">
        <input type='search' value='<%= @parent ? "#{@parent.name} #{@parent.last_name}" : "no one" %>' class='form-control' id='invite' data-toggle='dropdown'>
        <ul class="dropdown-menu">
        </ul>
      </div>
    </p>
    <p>
      User ID: <span id="user-id"><%= @user.id %></span>
    </p>
    <p>
      Last seen IP: <%= @user.last_sign_in_ip %>
    </p>
    <p>
      Email <%= "not" unless @user.confirmed? %> confirmed
    </p>
    <p class="form-group">
       Status: <%= select_tag :role, options_from_collection_for_select(Role.all, "id", "description", @user.role_id), class:"form-control",id:"role-select" %>
    </p>
    <div class="row">
      <p class="col-sm-6">
        Main balance: <%= @user.wallet.main_balance %>$
      </p>
      <p class="col-sm-6">
        User gave to system: <%= @user_paid%>$
      </p>
    </div>
    <div class="row">
      <p class="col-sm-6">
        Bonus balance: <%= @user.wallet.bonus_balance %>  <button data-toggle="modal" data-target="#add-bonus" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </p>
      <p class="col-sm-6">
        User got from system:<%= @user_got %>$
      </p>
    </div>

  </div>
  <div class="col-md-3 socnet">
    <h4>Social networks:</h4>
    <% unless @user.vk.nil? %>
      <%= link_to @user.vk do %>
        <%= image_tag "vk-icon" %>
      <% end %>
    <% end %>
    <% unless @user.ok.nil? %>
      <%= link_to @user.ok do %>
        <%= image_tag "ok-icon" %>
      <% end %>
    <% end %>
    <% unless @user.fb.nil? %>
      <%= link_to @user.fb do %>
        <%= image_tag "facebook-icon" %>
      <% end %>
    <% end %>
    <% unless @user.youtube.nil? %>
      <%= link_to @user.youtube do %>
        <%= image_tag "youtube-icon" %>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <p>
      Parnters count: <%= @descendants.count %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      First line partners: <%= @user.children.size %>
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <%= render partial: "user", collection: @descendants %>
    </div>
  </div>
</div>
