<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.css").to_s %>
    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="toastr info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:message] %>
      <div class="toastr warning">
        <%= flash[:message] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="toastr error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to admin_path do%>
                        Admin Page
                    <% end %>
                </li>
                <li>
                    <%= link_to 'Users', admin_users_path %>
                </li>
                <li>
                    <%= link_to 'Payments', admin_payments_path %>
                </li>
                <li>
                    <a href="#">Bonuses</a>
                </li>
                <li>
                    <%= link_to 'Instruments', admin_landings_path %>
                </li>
                <li>
                    <%= link_to 'Withdrawals', admin_withdrawals_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
          <div class="container-fluid">
              <%= yield %>
          </div>
        </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js").to_s %>
    <%= yield :javascript %>
  </body>
</html>
