<% if !@user.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class=row>
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="wrapper wrapper-content">
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4><%= t('.title', :resource => @user.model_name.human , :default => "Редактировать профиль") %></h4>
        </div>
        <div class="panel-body">
          <%= form_for(@user, :url => @user, :html => { :method => :patch }) do |f| %>
              <div class="row">
                <div class="col-md-12" style="text-align:center;" >
                  <%= f.label "Фото" %>
                </div>
                <div class="col-md-12" style="text-align:center; min-height:<%=current_user.avatar.get_image_height%>px;" >
                  <%= get_avatar(current_user) %>
                </div>
                <div class="col-md-12" style="text-align:center; margin-bottom: 10px;">
                  <label class="btn btn-info btn-file">
                      Browse <%= f.file_field :avatar, style: "display: none;" %>
                  </label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label "Имя" %>
                    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Имя" %>
                  </div>
                </div>
                <div class="col-md-6"><div class="form-group">
                <%= f.label "Фамилия" %>
                <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Фамилия" %>
              </div></div>
                <div class="col-md-4"><div class="form-group">
                <%= f.label :"Номер телефона" %>
                <%= f.text_field :phone, autofocus: true, class: "form-control", placeholder: "Телефон" %>
              </div></div>
              <div class="col-md-4"> <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div></div>
                <div class="col-md-4"> <div class="form-group">
                <%= f.label :skype %>
                <%= f.text_field :skype, autofocus: true, class: "form-control", placeholder: "Skype" %>
              </div></div>
                <div class="col-md-6"><div class="form-group">
                <%= f.label "Дата рождения" %>
                <%= f.text_field :birthday, class: "form-control", placeholder: "гггг/мм/дд" %>
              </div></div>
                <div class="col-md-6"><div class="form-group">
                <%= f.label "Пол" %>
                <%= select("user", "sex", [['Мужчина', 2],['Женщина', 1]], { include_blank: true }, class: "form-control")%>
              </div></div>
                <div class="col-md-6"><div class="form-group">
                <%= f.label "Страна" %>
                <%=country_select("user", "country", { priority_countries: ["GB", "FR"], selected: @user.country }, { class: 'form-control',  data: { attribute: "value" } , placeholder: "Страна"})%>
              </div></div>

              <div class="col-md-6"><div class="form-group">
                <%= f.label "Город" %>
                <%= f.text_field :city, autofocus: true, class: "form-control", placeholder: "Город" %>
              </div></div>
              <div class="col-md-12"><div class="form-group">
                <%= f.label "О себе" %>
                <%= f.text_area :about, autofocus: true, class: "form-control", placeholder: "О себе" %>
              </div></div>

              <!-- <div class="form-group">
                <%= f.label "Новый пароль" %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "оставьте пустым, если вы не хотите, изменить его") %>)</i>
                <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label "Подтвердить пароль" %>
                <%= f.password_field :password_confirmation, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label "Текущий пароль" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'введите пароль для применения изменений') %>)</i>
                <%= f.password_field :current_password, class: "form-control" %>
              </div> -->
              <div class="col-md-12" style="text-align:center;">
                <%= f.submit t('.update', :default => "Обновить"), class: "btn btn-primary" %>
              </div>

              <%# link_to t('.back', :default => 'Назад'), :back, class: "btn btn-info" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
