<!-- <div class=row>
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="wrapper wrapper-content">
      <div class="panel panel-default devise-bs">
        <%if current_user.id == @user.id%>
          <div class="ibox-tools">
              <%= link_to "Редактировать", edit_user_path(current_user), class: "btn btn-info btn-edit"%>
            </div>
            <%end%>
        <div class="panel-heading">
          <h4><%= t('.title', :resource => @user.model_name.human , :default => "Профиль") %></h4>

        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12" style="text-align:center;" >
              <%= label_tag "Фото" %>
            </div>
            <div class="col-md-12" style="text-align:center; min-height:<%=current_user.avatar.get_image_height%>px;" >
              <%= get_avatar(@user, {class: "user-avatar"}) %>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "Имя" %>
                <%=content_tag('div', @user.name ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "Фамилия" %>
                <%=content_tag('div', @user.last_name ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= label_tag :"Номер телефона" %>
                <%=content_tag('div', @user.phone ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= label_tag :email %>
                <%=content_tag('div', @user.email ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= label_tag :skype %>
                <%=content_tag('div', @user.skype ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "Дата рождения" %>
                <%= content_tag('div', @user.birthday ,class: "form-control")%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <%= label_tag "Пол" %>
                  <%= select("user", "sex", [['Мужчина', 2],['Женщина', 1]], { include_blank: true }, class: "form-control", :selected => @user.sex, disabled:'')%>
                  <%content_tag('div', @user.sex ,class: "form-control")%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag "Страна" %>
                  <%=country_select("user", "country", { priority_countries: ["GB", "UA"], selected: @user.country }, { class: 'form-control',  data: { attribute: "value" } , placeholder: "Страна", disabled:''})%>
                </div>
              </div>

            <div class="col-md-6">
              <div class="form-group">
                  <%= label_tag "Город" %>
                  <%= content_tag('div', @user.city ,class: "form-control")%>
                </div>
              </div>
            <div class="col-md-12">
              <div class="form-group">
                  <%= label_tag "О себе" %>
                   <%= content_tag('div', @user.about ,class: "form-control")%>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div id="content" class="flexbox full">
  <div id="profile-links" class="flexbox">
    <a href="#" class="active">Настройки профиля</a>
    <a href="#" class="disabled">Безопасность</a>
    <a href="#" class="disabled">Статусы</a>
    <a href="#" class="disabled">Повышение дохода</a></div>
  <div id="info-with-photo" class="flexbox">
    <%= form_for(@user, :url => @user, html: {method: :patch, id: "profile-info", class: "flexbox"}) do |f| %>
      <div id="profile-info-names" class="flexbox">
        <%= f.text_field :name, placeholder: "Ваше имя" %>
        <%= f.text_field :last_name, placeholder: "Ваша фамилия" %>
      </div>
      <div id="profile-info-contacts" class="flexbox">
        <div class="flexbox input-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
          <%= f.email_field :email, placeholder:"Email" %>
        </div>
        <div class="flexbox input-icon"><i class="fa fa-phone" aria-hidden="true"></i>
          <%= f.text_field :phone, placeholder: "Ваш номер телефона, например +380123456789" %>
        </div>
        <div class="flexbox input-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
          <div id="for-map" class="flexbox">
            <%= country_select("user", "country", { priority_countries: ["UA", "RU"], selected: @user.country }, { data: { attribute: "value" } , placeholder: "Страна"})%>
            <%= f.text_field :city, placeholder: "Город" %>
          </div>
        </div>
      </div>
      <hr>
      <div id="soc-icons" class="flexbox">
        <div class="soc-icon-input flexbox">
          <%= f.text_field :skype, placeholder: "Ник в скайпе" %>
          <%= image_tag "skype-icon" %>
          </div>
        <div class="soc-icon-input flexbox">
          <%= f.text_field :vk, placeholder: "Ссылка на профиль в ВК" %>
          <%= image_tag "vk-icon.png" %>
        </div>
        <div class="soc-icon-input flexbox">
          <%= f.text_field :ok, placeholder: "Ссылка на профиль в Одноклассниках" %>
          <%= image_tag "ok-icon.png" %>
        </div>
        <div class="soc-icon-input flexbox">
          <%= f.text_field :fb, placeholder: "Ссылка на профиль в Facebook" %>
          <%= image_tag "facebook-icon.png" %>
        </div>
        <div class="soc-icon-input flexbox">
          <%= f.text_field :youtube, placeholder: "Ссылка на канал на YouTube" %>
          <%= image_tag "youtube-icon.png" %>
        </div>
      </div>
      <hr class="green">
      <div id="edit-buttons" class="flexbox">
        <!-- <button id="hide-user-contacts">Скрыть контакты</button> -->
        <%= f.button t('.save', :default => "Сохранить"), id:"save-edits" %>
      </div>
    <% end %>
    <div id="photo-block" class="flexbox">
      <%= form_for(@user, :url => @user, html: {method: :patch, id: "profile-picture"}) do |f| %>
      <div id="user-profile-photo" class="flexbox"><%= get_avatar current_user %></div>
      <div id="photo-btns" class="flexbox">
        <label id="upload">
            <%= t('.upload', :default => "Загрузить") %> <%= f.file_field :avatar, style: "display: none;" %>
        </label>
        <!--??????????????-->
        <%= f.button t('.save', :default => "Сохранить"), id:"save-userpic" %>
        <!-- <button id="save-userpic">Сохранить</button> -->
        <!--??????????????-->
      </div>
      <% end %>
    </div>
  </div>
</div>
