<div id="links" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="link" class="flexbox">
          <!-- <div id="stat-link">
            <i class="fa fa-eye" aria-hidden="true">: 100</i>
            <i class="fa fa-users" aria-hidden="true">: 100</i>
            <i class="fa fa-bar-chart" aria-hidden="true">: 100%</i>
          </div> -->
          <div class="btns4link">
            <input type="text" id="link-1" value="<%= partner_link_url current_user%>">
            <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
            <button id="copy" data-clipboard-target="#link-1" class="copy-partner-link">Копировать</button>
          </div>
          <h2>Партнерская ссылка:</h2>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="tools-choose-business" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade tools-choose">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolchoise flexbox">
          <%= link_to business_scope_path 'all' do %>
             <i class="allvis fa fa-cog"></i>
            <span class="hidd">Выбрать направление</span>
          <% end %>
          <%= link_to business_scope_path 'my' do %>
            <i class="allvis fa fa-male"></i>
            <span class="hidd">Мой бизнес</span></a>
          <% end %>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="tools-choose-instruments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade tools-choose">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolchoise flexbox">
          <%= link_to landings_scope_path 'all' do %>
            <i class="allvis fa fa-cart-plus"></i>
            <span class="hidd">Выбрать инструменты</span>
          <% end %>
          <%= link_to landings_scope_path 'my' do %>
            <i class="allvis fa fa-cubes"></i>
            <span class="hidd">Мои инструменты</span></a>
          <% end %>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<%if current_user.deserve_bonus?%>
<div id="enter-aditional-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Введите дополнительный данные что бы получить 50 на свой бонусный счет!</h2>
        <%=form_for(current_user, :url => @user, html: {method: :patch
        }) do |f|%>
        <%= hidden_field_tag :option, value: 'addbonus'%>  
          <div clas="form-group">
            <%= f.label :phone%>
            <%= f.text_field :phone , class: "form-control", placeholder: 'Телефон'%>  
          </div>
          <div clas="form-group">
            <%= f.label :skype%>
            <%= f.text_field :skype, class: "form-control", placeholder: 'Skype'%>
          </div>
          <div clas="form-group">
            <%= f.label :vk%>
            <%= f.text_field :vk, class: "form-control", placeholder: 'VK'%>
          </div>
          <%= f.submit('Сохранить', :class => "btn btn-success") %>
        <%end%>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<%end%>
<%= yield(:modals) %>
