<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= current_user.avatar_url %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_user.name %>&nbsp;<%= current_user.last_name %></strong>
                            </span> <span class="text-muted text-xs block">Пользователь
                              </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    ПК
                </div>
            </li>
          <li class="<%= is_active_controller('home') %>">
            <%= link_to home_path do %>
                <i class="fa fa-th-large"></i> <span class="nav-label">Главная</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('profile') %>">
            <%= link_to profile_index_path do %>
                <i class="fa fa-diamond"></i> <span class="nav-label">Профиль</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('team') %>">
            <%= link_to team_path do %>
                <i class="fa fa-users"></i> <span class="nav-label">Команда</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <!--
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-envelope"></i> <span class="nav-label">Сообщения</span> <span class="label label-warning pull-right">0</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-money"></i> <span class="nav-label">Быстрые деньги</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <a href=""><i class="fa fa-bank"></i> <span class="nav-label">Бизнес</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level <%= is_active_controller('') %>">
              <li class="<%= is_active_action('') %>"><%= link_to "Мои бизнесы"  %></li>
              <li class="<%= is_active_action('') %>"><%= link_to "Выбор бизнеса"  %></li>
            </ul>
          </li>
          <li class="<%= is_active_controller('') %>">
            <a href=""><i class="fa fa-edit"></i> <span class="nav-label">Инструменты</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level <%= is_active_controller('') %>">
              <li class="<%= is_active_action('') %>"><%= link_to "Мои инструменты"  %></li>
              <li class="<%= is_active_action('') %>"><%= link_to "Выбор инструментов"  %></li>
            </ul>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-line-chart"></i> <span class="nav-label">Финансы</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-bullhorn"></i> <span class="nav-label">Мероприятия</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-book"></i> <span class="nav-label">Вопрос/Ответ</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-edit"></i> <span class="nav-label">Другие сервисы</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="<%= is_active_controller('') %>">
            <%= link_to  do %>
                <i class="fa fa-th"></i> <span class="nav-label">Сотрудничество</span> <span class="label label-primary pull-right">NEW</span>
            <% end %>
          </li>
          <li class="landing_link">
            <%= link_to root_path do %>
                <i class="fa fa-star"></i> <span class="nav-label">Landing</span>
            <% end %>
          </li>
        -->
        </ul>
    </div>
</nav>