<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клуб Профессионалов</title>
    <%= render partial: 'layouts/favicons' %>
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.css").to_s %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'empty', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="gray-bg">
  <h1 class=" text-center alert"><%= alert %></h1>

  <h1 class="text-center notice"><%= notice %></h1>

<!-- Main view  -->
<%= yield %>


    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js").to_s %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
