<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клуб Профессионалов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <%= render partial: 'layouts/favicons' %>
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.css").to_s %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'empty', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-block flexbox">
    <%= yield %>
  </div>
  <%= javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js").to_s %>
  <%= yield :javascript %>
</body>
</html>
