<div class="top-block flexbox"><%= image_tag "kp-logo.png" %>
  <span class="bigger">РЕГИСТРАЦИЯ</span><span class="smaller">Заполните необходимые данные:</span>
  <% if flash[:recaptcha_error] %>
    <span class="smaller">  <%= flash[:recaptcha_error] %> </span>
  <% end %>
  <span class="smaller"><%= devise_error_messages! %></span>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="input-container flexbox">
      <%= f.text_field :name, autofocus: true, placeholder: "Ваше имя" %>
      <%= f.text_field :last_name, placeholder: "Ваша фамилия" %>
    </div>
    <div class="input-container flexbox">
      <%= f.email_field :email, placeholder: "Ваш Email" %>
      <i aria-hidden="true" class="fa fa-envelope"></i>
    </div>
    <div class="input-container flexbox">
      <%= f.password_field :password, placeholder: "Ваш пароль" %>
      <i aria-hidden="true" class="fa fa-key"></i>
    </div>
    <div class="input-container flexbox">
      <%= f.password_field :password_confirmation, placeholder: "Повторите пароль" %>
      <i aria-hidden="true" class="fa fa-key"></i>
    </div>
    <% if @parent %>
      <div class="input-container flexbox">
        <input type="text" name="inviter" value="Вас пригласил <%= "#{@parent.name} #{@parent.last_name}" %>" disabled>
      </div>
    <% end %>
    <div class="input-container">
      <input id="checkbox" type="checkbox" name="check" value="accept">
      <label for="checkbox">
        <div id="checkbox-container">
          <div id="custom-checkbox"></div>
        </div><span>Согласен с условиями договора</span>
      </label>
    </div>
    <%= recaptcha_tags %>
    <%= f.submit t('.sign_up', :default => "Регистрация") %>
  <% end %>
  <div class="soc-icons">
    <%= link_to user_vkontakte_omniauth_authorize_path do %>
      <i class="fa fa-vk" aria-hidden="true"></i>
    <% end %>
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
