<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <div class="alert alert-warning" role="alert">  <%= devise_error_messages! %> </div>

      <h1 class="logo-name">КП</h1>
    </div>
    <h3>Регистрация</h3>
    <p>Для получения доступа к сервисам - необходимо зарегистрироваться.</p>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Имя" %>
        </div>
        <div class="form-group">
          <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Фамилия" %>
        </div>
        <!--<div class="form-group">
          <%= f.text_field :phone, autofocus: true, class: "form-control", placeholder: "Телефон" %>
        </div>
        <div class="form-group">
          <%= f.text_field :skype, autofocus: true, class: "form-control", placeholder: "Skype" %>
        </div>
        <div class="form-group">
          <%= f.text_field :birthday, autofocus: true, class: "form-control", placeholder: "Дата рождения" %>
        </div>
        <div class="form-group">
          <%= f.text_field :sex, autofocus: true, class: "form-control", placeholder: "Пол" %>
        </div>
        <div class="form-group">
          <%= f.text_field :country, autofocus: true, class: "form-control", placeholder: "Страна" %>
        </div>
        <div class="form-group">
          <%= f.text_field :city, autofocus: true, class: "form-control", placeholder: "Город" %>
        </div>
        <div class="form-group">
          <%= f.text_field :about, autofocus: true, class: "form-control", placeholder: "О себе" %>
        </div>
        <div class="form-group">
            <%= f.label :avatar do %>
                <%= f.file_field :avatar %>
                <%= f.hidden_field :avatar_cache %>
            <% end %>
        </div>
        -->
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "Пароль" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Подтвердите праоль" %>
        </div>
        <div class="form-group">
        <%= f.hidden_field :referral_code, value: session[:p] %>
        </div>
        <div class="form-group">
            <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> С правилами сервиса согласен</label></div>
          </div>
        <%= f.submit t('.sign_up', :default => "Регистрация"), class: "btn btn-primary block full-width m-b" %>
    <% end %>
      <p class="text-muted text-center"><small>У Вас уже есть аккаунт?</small></p>
      <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'users/sessions', :action => 'new' %>">Вход</a>

    <p class="m-t"> <small>Все права защищены &copy; 2016</small> </p>
  </div>
</div>
